html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f4f6f8; /* El mismo color de fondo que le dimos a tu App */
  font-family: 'Roboto', sans-serif;
}

/* Ocultar barras de desplazamiento horizontales innecesarias */
body {
  overflow-x: hidden; 
}